@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

$blue: #0496FF;
$darkBlue: #006BA6;
$yellow: #FFBC42;
$ruby: #D81159;
$dark: #270722;

body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  box-sizing: border-box;
  background-color: $blue;
  color: $dark;
}

header{
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  padding: 20px;

  h1{
    margin: 0;
    font-size: 30px;
    font-weight: bold;
  }
}

.animation{
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

#rail{
  stroke: $dark;
  fill: none;
}

.train{
  width: 100px;
}

.cart{
  width: 70px;
  height: 100%;
}

#train-path, #cart-path{
  fill: $dark;
}